<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.girl.core.mapper.UserMeetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.girl.core.entity.UserMeet">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="title" property="title" />
        <result column="desc" property="desc" />
        <result column="meet_time" property="meetTime" />
        <result column="meet_time_part" property="meetTimePart" />
        <result column="meet_place" property="meetPlace" />
        <result column="show_images" property="showImages" />
        <result column="create_time" property="createTime" />
        <result column="create_longitude" property="createLongitude" />
        <result column="create_latitude" property="createLatitude" />
        <result column="accept_sex" property="acceptSex" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, title, desc, meet_time AS meetTime, meet_time_part AS meetTimePart, meet_place AS meetPlace, show_images AS showImages, create_time AS createTime, create_longitude AS createLongitude, create_latitude AS createLatitude, accept_sex AS acceptSex, status AS status
    </sql>

    <select id="getMeetInfo" resultType="com.girl.Common.model.MeetInfo">
        SELECT
            meet.id as id,
            meet.uid as userid,
            info.nick_name as nickname,
            meet.create_time as publishtime,
            meet.meet_time as meettime,
            meet.meet_time_part as meetTimePart,
            meet.meet_place as meetplace,
            meet.title as purpose,
            meet.show_images as images
        FROM
            user_meet meet
        LEFT JOIN
            user_info info
        ON
            meet.uid = info.id
        WHERE
            meet.status = #{status}
        <if test="search != null and search != ''">
            AND
            info.id LIKE '%${search}%' OR info.nick_name LIKE '%${search}%'
            AND
            meet.meet_time > NOW()
        </if>
        ORDER BY
            meet.create_time
        DESC
    </select>


    <select id="getMeetCount" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM
        user_meet dynamic
        LEFT JOIN
        user_info info
        ON
        dynamic.uid = info.id
        WHERE
        dynamic.status = #{status}
        <if test="search != null and search != ''">
            AND
            info.id LIKE '%${search}%' OR info.nick_name LIKE '%${search}%'
        </if>
    </select>

</mapper>
