<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.girl.core.mapper.UserReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.girl.core.entity.UserReport">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="uid" property="uid" />
        <result column="report_id" property="reportId" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        status, id, uid, report_id AS reportId, type, create_time AS createTime
    </sql>

    <select id="getReportInfo" resultType="com.girl.Common.model.OrignReport">
        SELECT
        report.id as id,
        report.uid as uid,
        info.nick_name as nickName,
        report.report_id as reportId,
        report.create_time as createTime,
        report.type as reportType
        FROM
        user_report report
        LEFT JOIN
        user_info info
        ON
        report.uid = info.id
        WHERE
        report.status = #{status}
        <if test="search != null and search != ''">
            AND
            info.id LIKE '%${search}%' OR info.nick_name LIKE '%${search}%'
        </if>
        ORDER BY
        report.create_time
        DESC
    </select>

    <select id="getReportDetail" resultType="com.girl.Common.model.ReportDetail">
        SELECT
        report.report_id as reportId,
        info.nick_name as reportName,
        report.create_time as createTime,
        report.type as reportType
        FROM
        user_report report
        LEFT JOIN
        user_info info
        ON
        report.report_id = info.id
        WHERE
        report.uid = #{uid}
        ORDER BY
        report.create_time
        DESC

    </select>

</mapper>
